<app-discount></app-discount>

<app-sale></app-sale>

<app-best-product></app-best-product>

<app-order></app-order>

<app-slogan></app-slogan>

<app-specials></app-specials>

<app-desserts></app-desserts>

<app-tip></app-tip>

<app-color-box></app-color-box>

<app-coupon></app-coupon>

<app-location></app-location>

<app-pricing item="Ice Cream" [price]="15.7"></app-pricing>
<app-pricing [item]="'Ice Tea'" [price]="8.5"></app-pricing>

<app-survey (report)="displaySurveyResult($event)"></app-survey>

<app-clock></app-clock>

<app-colorful></app-colorful>

<app-help></app-help>

<app-winter-sale></app-winter-sale>
